$main-color: #B586CF;
$main-text-color: white;
$main-background-color: #F9F9F9;


// button reset
button {
    border: none;
    padding: 0;
}
.button {
    padding: 1rem 3rem;
    background-color: $main-color;
    color: $main-text-color;
    &[disabled] {
        opacity: .7;
    }
}

.main-element {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}


.item {
    margin-right: 25px;
    font-size: 1.2rem;
}


body {
    background-color: $main-background-color;
}

@import 'header';
@import 'start-menu';
@import 'Quiz';
