
.quiz {
    border: 1px solid lime;
    margin: 5rem;
    padding: 2rem;
    .question {
        text-align: left;
    }
    .answer-item {
        padding: 1rem;
        background-color: lightgrey;
        input {
            margin-left: 20px;
        }
    }
}