
.quiz {
    // border: 1px solid lime;
    margin: 1rem;
    padding: .5rem;
    .question {
        text-align: left;
    }
    .results-container {
        min-height: 25px;
    }
    .answer-item {
        padding: 1rem;
        // background-color: lightgrey;
        max-width: 400px;
        margin-bottom: 10px;
        // display: flex;
        // flex-direction: column;
        // justify-content: ;
        input {
            margin-left: 1px;
        }
    }
    .nav-buttons-container {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        .button {
            width: 49%;
        }
    }
    .check-answer-button {
        width: 100%;
        max-width: 400px;
        margin-top: 5px;
    }
}