
.quiz {
    // border: 1px solid lime;
    margin: 1rem;
    padding: .5rem;
    max-width: 1450px;
    margin: auto;
    .quiz-info {
        .info-item {
            text-align: left;
            margin-top: .5rem;
            font-size: 1.2rem;
            font-weight: bolder;
        }
    }
    .question {
        text-align: left;
        margin-top: 1rem;
    }
    .results-container {
        min-height: 100px;
        // overflow: scroll;
    }
    .form-check {
        label {
            width: 80%;
            height: 100%;
            display: inline-block;
        }
    }
    .answer-item {
        padding: 1rem;
        // background-color: lightgrey;
        max-width: 400px;
        margin-bottom: 10px;
        // display: flex;
        // flex-direction: column;
        // justify-content: ;
        input {
            margin-left: 1px;
        }
    }
    .nav-buttons-container {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        .button {
            width: 49%;
        }
    }
    .check-answer-button, .new-quiz-button {
        width: 100%;
        max-width: 400px;
        margin-top: 5px;
    }
}

@import 'end-quiz'