
.start-menu-container {
    margin-top: 4rem;
    @media (max-width: 768px) {
        .select {
            margin-top: .7rem;
        }
    }
}
.start-menu-form-container {
    .select {
        label {
            width: 100%;
            text-align: left;
            
        }
    }
}

.start-new-quiz-container {
    margin-top: 1rem;
    // position: absolute;
    // bottom: 5vh;
    // left: 0;
    // right: 0;
}
.new-quiz-button {
    background-color: $main-color;
    color: $main-text-color;
    padding: 1rem;
    width: 35%;
    max-width: 25rem;
    min-width: 15rem;
}
